/* font-face settings */
@font-face {
    font-family: 'FelbridgeDONGEnergyW01-Rg';
    src: url('fonts/FelbridgeDONGEnergyW01-Rg.eot');
    src: url('fonts/FelbridgeDONGEnergyW01-Rg.eot?#iefix') format('eot'),
    url('fonts/FelbridgeDONGEnergyW01-Rg.woff') format('woff'),
    url('fonts/FelbridgeDONGEnergyW01-Rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FelbridgeDONGEnergyW01-Lt';
    src: url('fonts/FelbridgeDONGEnergyW01-Lt.eot');
    src: url('fonts/FelbridgeDONGEnergyW01-Lt.eot?#iefix') format('eot'),
    url('fonts/FelbridgeDONGEnergyW01-Lt.woff') format('woff'),
    url('fonts/FelbridgeDONGEnergyW01-Lt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FelbridgeDONGEnergyW01-Bd';
    src: url('fonts/FelbridgeDONGEnergyW01-Bd.eot');
    src: url('fonts/FelbridgeDONGEnergyW01-Bd.eot?#iefix') format('eot'),
    url('fonts/FelbridgeDONGEnergyW01-Bd.woff') format('woff'),
    url('fonts/FelbridgeDONGEnergyW01-Bd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FelbridgeDONGEnergyW01-XBd';
    src: url('fonts/FelbridgeDONGEnergyW01-XBd.eot');
    src: url('fonts/FelbridgeDONGEnergyW01-XBd.eot?#iefix') format('eot'),
    url('fonts/FelbridgeDONGEnergyW01-XBd.woff') format('woff'),
    url('fonts/FelbridgeDONGEnergyW01-XBd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}