#de-container-food{
	.dish{
		position:relative;
		text-align: center;

		.dish-container{
			position:relative;
			display:inline-block;

			.dish-img{
				height:400px; 
				opacity: 0;
				margin-left: -500px;
				transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1.000);					

				&.init-dish{
					opacity: 1;
					margin-left: 0;
				}
			}

			.food-bubble{
				position:absolute;
				top:0px;
				right:-160px;
				width:150px;
				opacity: 0;

				&.show{
					display:block;
					animation: TRANSITION_CIRCLES 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) normal forwards;
				}

				.dotted-line{
					position:absolute;
					overflow: hidden;
					left:-210px;
					top:85px;
					stroke:black;
					stroke-width:3px;
					stroke-dasharray:0 10px;
					animation: DOTTED_LINE 10s linear infinite;
					z-index: 0;
					transform:rotate(-205deg);
				}

				.circle{
					position: relative;
					display:block;
					text-align:left;

				}

				.pct{
					font-family: 'FelbridgeDONGEnergyW01-lt', Arial, Helvetica, sans-serif;
					font-size: 4.5rem;
					margin: 7px 0 10px 0;
				}

				.desc{
					position: relative;
					display:block;
					text-align:left;
					line-height: 1.4rem;
				}

				&.init-bubble{
					opacity: 1;
					transition: opacity 1s;
				}
			}

		}
	}

	.food-cta{
		position: relative;
		display: none;
		width: 100%;
		height: 100%;
		border-radius: 130px;
		padding:20px 10px 10px 10px;
		color:white;
		z-index: 110;
		background-color: #0E98AE;
		text-align: center;
		line-height: 1.2rem;
		font-family: 'FelbridgeDONGEnergyW01-lt', Arial, Helvetica, sans-serif; 
		text-decoration: none;
		opacity: 0;
		

		&.init-btn{
			display:block;
			animation: SCALE_UP 250ms cubic-bezier(0.175, 0.885, 0.320, 1.275) forwards;
		}
	}

	.food-cta-container{
		position:absolute;
		display:block;
		top: 10px;
		right:10px;
		width:130px;
		height:130px;
		transition: transform 200ms ease-out;

		&:hover{
			transform: scale(1.05, 1.05) ;
		}
	}
}






/* TABLET */

@media only screen 
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {

  	#de-container-food{
  		.dish{
  			.dish-container{
  				.food-bubble{
		  			right:-100px;
		  			top:-80px;

		  			.dotted-line{
		  				left:-190px;
		  				top:125px;
		  				transform: rotate(-230deg);
		  			}
		  		}	
  			}
  		}
  	}
}


/* MOBILE */
@media only screen 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2) {

  	#de-container-food{
  		;
		.dish{
			margin-top: 8%;

			.dish-container{
				.dish-img{
					opacity: 1;
					height: 250px;
					margin-left:0;
				}

				.food-bubble{
					position:relative;
					opacity: 1;
					right:auto;
					top:auto;
					width:100%;
					padding:7%;

					.dotted-line{
						display: none;
					}

					.pct{
						display:none;
					}

					.desc{
						text-align: center;
					}
					.pct-mobile{
						font-family: 'FelbridgeDONGEnergyW01-Bd', Arial, Helvetica, sans-serif; 
						font-size: 2rem;
					}
				}
			} 
		} 

		
		.food-cta-container.mobile{
			width:120px;
			height:120px;
			top:-30px;

			.food-cta{
				display: block;
				opacity: 1;
			}

		}


  	}
}

