

#de-container-livingroom{

	position:relative;
	display: block;
	max-width: 966px;
	margin: 0 auto;
	min-height: 600px;
	overflow:hidden;

	.livingroom-bg{
		position:absolute;
		display:block;
		width:963px;
		height: 889px;
		top:-40px;
		left: 0;
		z-index:0;

		img{
			display:block;
		}
	}

	#livingroom-video{
		position:absolute;
		top:273px;
		right:219px;
		z-index: 10;
		width:307px;
		height:174px;
	}

	.livingroom-content{
		position: relative;
		z-index: 10;
	}

	

	#livingroom-cta{
		position:absolute;
		display: none;
		top:0px;
		left:0px;
		width:130px;
		height:130px;
		border-radius: 130px;
		padding:10px 10px 10px 10px;
		color:white;
		z-index: 110;
		background-color: #0E98AE;
		text-align: center;
		line-height: 1.2rem;
		font-family: 'FelbridgeDONGEnergyW01-lt', Arial, Helvetica, sans-serif; 
		text-decoration: none;
		transition: all 200ms ease-out;

		&:hover{
			transform: scale(1.05, 1.05);
		}

		&.init-btn{
			display:block;
			animation: SCALE_UP 250ms cubic-bezier(0.175, 0.885, 0.320, 1.275) forwards;
		}
	}

	#livingroom-cta-container{
		position:absolute;
		display:block;
		top: 20px;
		right:20px;
		width:130px;
		height:130px;
		z-index: 10;
		transition: transform 200ms ease-out !important;

		&:hover{
			transform: scale(1.05, 1.05) ;
		}
	}


	#thermometer{
		position:absolute;
		top: 180px;
		left:40px;
		width:100%;

		#thermometer-svg{
			height:270px;
		}

		.temp{
			position: absolute;
			display: block;
			left:100px;
			width:auto;

			.red-bold{
				font-family: 'FelbridgeDONGEnergyW01-Bd', Arial, Helvetica, sans-serif; 
				color: #c30f10;
			}

			&.t0{top:47px;}
			&.t1{ top: 75px;}
			&.t2{ top: 103px;}
			&.t3{ top: 131px;}
			&.t4{ top: 159px;}
			
			.dotted-line{
				stroke:black;
				stroke-width:3px;
				overflow: hidden;
				stroke-dasharray:0 10px;
				transform: rotate(180deg);
				animation: DOTTED_LINE 30s linear infinite;
				margin-right: 10px;
			}
		}

		
	}
}	







@media only screen 
  and (max-device-width: 767px) {

  	#de-container-livingroom{
  		height: 600px;
  		min-height: auto;

  		.livingroom-bg{
  			top:0;
  			left: -160px;
  			height:600px;
  			overflow: hidden;

  			img{
  				height:100%;
  			}
  		}

  		#thermometer{
  			left:-20px;

  			.temp{
				.dotted-line{
					animation: DOTTED_LINE 0;
				}	
			}
  		}

  		#livingroom-cta-container{
  			right:10px;
  			top:auto;
  			bottom:10px;
  			width:120px;
  			height:120px;
  		}

  		#livingroom-cta{
			display:block;
			width:100%;
			height:100%;
			opacity: 1;
		}

		
  	}
}
