body{
	font-family: 'FelbridgeDONGEnergyW01-Rg', Arial, Helvetica, sans-serif;
	font-size: 16px;
	box-sizing: border-box;
	opacity:0;
	animation: INIT_PAGE 1s normal forwards;

	
}


*, *:before, *:after {
	box-sizing: inherit;
}


h1{
	font-family: 'FelbridgeDONGEnergyW01-Bd', Arial, Helvetica, sans-serif;
	font-size: 3rem;
	line-height: 3.2rem;
	width:70%;
	margin: 0 auto;
	text-align: center;
	padding: 7% 7%;
}

.bold{
		font-family: 'FelbridgeDONGEnergyW01-Bd', Arial, Helvetica, sans-serif;
}

.hide{
	animation: SCALE_CIRCLES 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275) normal forwards;
}

.de-container{
	position:relative;
	display: block;
	max-width: 966px;
	margin: 0 auto;
	overflow:hidden;
}



// INIT
@keyframes INIT_PAGE {
 75%{
 	opacity:0;
 }
 100%{
 	opacity:1;
 }
}




/* The red box in the hero that animates forth and back*/
@keyframes BATH_DRAG_INDICATOR {
	from {
		width: 103%;
	}

	to {
		width: 97%;
	}
}


/* The arrow in the cricle in the hero element */
@keyframes BATH_ARROW_INDICATOR {
	0% {
		left:calc(50% - 14px);
	}
	5% {
		left:-24px;	
	}
	5.01% {
		left:110%;	
	}
	30% {
		left:calc(50% - 14px);
	}
	100% {
		left:calc(50% - 14px);
	}
}


@keyframes DOTTED_LINE {
  to{
    stroke-dashoffset: 500;
  }
}


@keyframes TRANSITION_CIRCLES{
  0%{
    opacity: 0;
    transform: scale(.5, .5);
  }
  60%{
  	 
  }
  100%{
    opacity: 1;
    transform: scale(1, 1);
  }
}


@keyframes SCALE_CIRCLES{
  0%{
    opacity: 1;
    transform: scale(1, 1);
  }
  100%{
    opacity: 0;
    transform: scale(0, 0);
  }
}


@keyframes SCALE_UP{
  0%{
    opacity: 0;
    transform: scale(0, 0);
  }
  100%{
    opacity: 1;
    transform: scale(1, 1);
  }
}





@keyframes CIRCLE_PULSING {
  0{
    transform: scale(1.4, 1.4);
  }

  50%{
    transform: scale(1.5, 1.5);
  }

  100%{
    transform: scale(1.4, 1.4);
  }
}


@keyframes PULSATE {
  0{
  		filter: drop-shadow(0px 0px 10px rgba(195, 15, 16, 0));	
  }

  50%{
  		filter: drop-shadow(0px 0px 10px rgba(195, 15, 16, 1));	
  }

  100%{
  		filter: drop-shadow(0px 0px 10px rgba(195, 15, 16, 0));	
  }
}








/* TABLET */

@media only screen 
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {

  	h1{
		padding: 7%;
	}
}









// MOBILE
@media only screen 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2) {

  	body{
		font-size: 14px;
	}

  	h1{
  		font-size: 2rem;
  		line-height: 2.2rem;
  		width: 100%;
  	}

}