/www/node_modules/
/www/build/
/www/docs/
/www/*.DS_Store
/www/*.log
/www/*.sublime-project
/www/*.sublime-workspace
/www/config.js
/www/*.pem
/www/.settings/
/www/credentials.json
/www/robots.txt
/www/wordpress/wp-content/uploads/
/design/